*{
    margin: 0;
    padding: 0;
}
body{
    /* background-color: rgba(170, 170, 170, 1); */
    font-family: "Poppins", sans-serif;
}
/* sheard item */
.btn{
    background-color: #E02C6D;
    border-radius: 41px;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 700;
    padding : 10px 24px;
    text-align: center;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

}
.btn img{
    width: 16px;
    height: 14px;
}
/* nav section */
.nav-container{
    display: flex;
    max-width: 1200px;
    margin: 87px auto 0;
    justify-content: space-between;

}
.nav-container h5{
    font-size: 1.6rem;
    font-weight: 700px;
    color: #3A3A3A;
}
.login-section{
    display: flex;
    max-width: 463px;
    justify-content: space-between;
    gap: 34px;
}
.login-section li {
    list-style: none;
}
.login-section li a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    color: #3A3A3A;

}
.login-section li img{
    width: 36px;
    height: 36px;
}
.login-section li #serch-img{
    width: 24px;
    height: 24px;
}
/* header section */
.header-section{
    display: flex;
    max-width: 1200px;
    justify-content: space-between;
    gap: 133px;
    margin: 50px auto;
    align-items: center;
}
.header-section .left-section h2{
    font-size: 3.25rem;
    font-weight: 700;
    line-height: 4.375rem;
    color: #3A3A3A;
    margin-bottom: 16px;
}
.header-section .left-section p{
    font-size: 1rem;
    font-weight: 600;
    color: #3A3A3A;
    margin-bottom: 30px;
}
.right-section{
    height: 475px;
    width: 475px;
    background: url("../images/Circle\ design.svg");
    background-size: 100%;
    background-position: top right;
    background-repeat: no-repeat;
}