*{
    margin: 0;
    padding: 0;
}
body{
    /* background-color: rgba(170, 170, 170, 1); */
    font-family: "Poppins", sans-serif;
}
/* sheard item */
.btn{
    background-color: #E02C6D;
    border-radius: 41px;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 700;
    padding : 10px 24px;
    text-align: center;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    max-width: 194px;

}
.btn img{
    width: 16px;
    height: 14px;
}

/* nav section */
#all-item{
    display: none;
}
.nav-container{
    display: flex;
    max-width: 1200px;
    margin: 87px auto 0;
    justify-content: space-between;

}
.nav-container h5{
    font-size: 1.6rem;
    font-weight: 700px;
    color: #3A3A3A;
}
.login-section{
    display: flex;
    max-width: 463px;
    justify-content: space-between;
    gap: 34px;
}
.login-section li {
    list-style: none;
}
.login-section li a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    color: #3A3A3A;

}
.login-section li img{
    width: 36px;
    height: 36px;
}
.login-section li #serch-img{
    width: 24px;
    height: 24px;
}
/* header section */
.header-section{
    display: flex;
    max-width: 1200px;
    justify-content: space-between;
    gap: 133px;
    margin: 50px auto;
    align-items: center;
}
.header-section .left-section h2{
    font-size: 3.25rem;
    font-weight: 700;
    line-height: 4.375rem;
    color: #3A3A3A;
    margin-bottom: 16px;
}
.header-section .left-section p{
    font-size: 1rem;
    font-weight: 600;
    color: #3A3A3A;
    margin-bottom: 30px;
}
.right-section{
    position: relative;
    height: 475px;
    width: 100%;
    max-width: 475px;
    background-image: url("../images/Circle\ design.svg");
         background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.right-section img{
    position: absolute;
    top: 30px;
    left: 5px;
    width: 100%;
    height: auto;
    
}
/* sponsor section */
.sponsor-container{
    display: grid;
    max-width: 1110px;
    grid-template-columns: repeat(7, 1fr);
    margin: 100px auto;
     box-shadow:
    0 -6px 8px -6px rgba(0, 0, 0, 0.2), 
    0  6px 8px -6px rgba(0, 0, 0, 0.2);
    align-items: center;
    padding: 36px 62px;
    gap: 60px;
}
.sponsor-container img{
    width: 100%;
}
/* card section */
.card-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1047px;
    margin: 0 auto;
    row-gap: 30px;
    column-gap: 30px;
}
.card-container .card{
    padding: 17px 14px;
    width: 329px;
    
    border-radius: 5px;
    background-color: #FFFFFF;
    box-shadow:  0 0 40px 0 rgba(0, 0, 0, 0.15);

}
.card-container .card .card-main-img{
    max-width: 300px;
    height: 256px;
    margin-bottom: 16px;
}
.card-container .card h3{
    font-size: 1.75rem;
    font-weight: 500;
    line-height: 2.5rem;
    color: rgba(24, 25, 31, 1);
    margin-bottom: 8px;
}
.card-container .star{
    display: flex;
    align-items: center;

}
.card-container h6{
    font-size: 1.25rem;
    font-weight: 700;
      color: rgba(94, 99, 102, 1);  
      line-height: 1.375rem;  
      margin-bottom: 8px;
      margin-left: 8px;
}
.card-container .star img{
    height: 16px;
    width: 16px;
    margin-bottom: 8px;
    
}
.card-container .card h5{
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 150%;
      margin-bottom: 8px;

}
.card-container #last{
    max-width: 196px;
}
.card-container .card p{
    color: rgba(120, 120, 133, 1);
    line-height: 143%;
    letter-spacing: 1.8%;
    font-size: 0.875rem;
    font-weight: 700;
}
.card-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* position: relative; */
}
.card-section h1{
    margin-bottom: 30px;
    color: #3A3A3A;
    line-height: 4.375rem;
    font-size: 1.75rem;
    font-weight: 600;
}
.card-section a img{
    width: 16px;
    height: 14px;
    margin-left: 8px;

}
.card-section a{
    text-decoration: none;
    text-align: center;
     color: #E02C6D;
     font-size: 1rem;
     font-weight: 700;
     position: relative;
     top: 50px;
     left: 470px;
    
    
}
#see-more{
    display: flex;
    justify-content: end;
    max-width: 1110px;
    text-align: left;
}
/* fearured products */
.last-container{
    display: flex;
    max-width: 1110px;
    justify-content: space-between;
    gap: 96px;
    margin: 100px auto;

}
.last-container .info-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.last-container .info-section h2{
    font-size: 2.375rem;
    font-weight: 700;
    line-height: 3.75rem;
    color: #0A0826;
    margin-bottom: 16px;
}
.last-container .info-section p{
    max-width: 501px;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.75rem;
    color: #6C6C6C;
    margin-bottom: 16px;
}
.last-container .info-section #last-button{
    border-radius: 0;
    width: 155px;
}
/* footer section */
footer{
    background-color: rgb(10, 8, 38);
    max-width: 5600px;
    padding: 50px;
    text-align: center;
    margin: 100px auto 0;
}
.footer-section{
    max-width: 270px;    
    margin: 50px auto;
}
.footer-icon img{
    width: 32px;
    height: 32px;
    
}
.footer-icon{
    display: flex;
    gap: 16px;
    max-width: 176px;
    margin: 17px auto 0;
}
.footer-section h2{
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 3px;
    color: #FFFFFF;

}
.footer-section small{
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 1.5rem;
    color: rgba(217, 219, 225, 1);
    text-align: left;
    margin-bottom: 3px;
}
.footer-section p{
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 1.5rem;
    color: rgba(217, 219, 225, 1);
    margin-bottom: 3px;
}
@media screen and (max-width:576px) {
    #all-item{
        display: inline;
        height: 12px;
        width: 18px;
    }
    .nav-container{
        display: flex;
        align-items: center;
    }
    .header-section{
        flex-direction: column-reverse;
        gap: 5px;
    }
    .display-none{
    display: none;
    }
    .left-section{
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 10px;
        
    }
    .header-section .left-section h2{
        font-size: 2.05rem;
    }
    .header-section .right-section{
        margin: 0 20px;
        background-size: 95%;
    }
    .nav-container{
        margin: 35px 16px 22px 16px;
    }
    .sponsor-container{
        box-shadow: none;
        grid-template-columns: repeat(4, 1fr);
        margin-right: 20px;

    }
    .nav-container h5{
        font-size: 1rem;
    }
    .sponsor-container img{
    width: 250%;
}
.card-container{
    grid-template-columns: repeat(1, 1fr);
}
    .last-container{
        flex-direction: column-reverse;
    }
    .card-section a{
    text-decoration: none;
    text-align: center;
     color: #E02C6D;
     font-size: 1rem;
     font-weight: 700;
     position: relative;
     top: 50px;
     left: 110px;
}
.last-container .info-section{
    align-items: center;
    text-align: center;
    margin: 20px;
}
.last-container .info-section h2{
    font-size: 1.68rem;
}
.last-container .image-section img{
    width: 95%;
    margin: 10px;
}
.right-section{
    position: relative;
    height: 475px;
    width: 100%;
    max-width: 475px;
    background-image: url("../images/Circle\ design.svg");
         background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.right-section img{
    position: absolute;
    top: 90px;
    left: 20px;
    width: 85%;
    height: auto;
    
}
}